@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import 'tailwindcss';

:root {
  --color-primary: '';
  --font-geist: 'Geist', sans-serif;
  --button-blur-shadow: 20px;
}

@theme {
  --font-geist: 'Geist', sans-serif;
  --color-bright-purple: #d065ff;
  --color-bright-pink: #f26ca7;
  --color-bright-orange: #ffaa4c;
  --button-blur: 20px;
  --button-primary-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  --button-primary-gradient: var(--color-bright-purple),
    var(--color-bright-pink) 51%, var(--color-bright-orange) 100%;
  --color-button-outline-text: #ededeb;
  --color-button-outline-bg: rgba(255, 170, 76, 0.02);
  --color-sidebar-bg: #0f0f1a;
  --color-white: #ffffff;
  --color-dark-blue: #111119;
  --color-white-opaque: #fcffec;
  --color-badge-primary: rgba(144, 144, 144, 0.2);
}

.button-shadows {
  box-shadow: inset 0px 1px 3px #c7dcff33, inset 0px 0px 20px 0px #c6ccff33,
    0px 1px 22px 0px #ffffff1a, 0px 4px 4px 0px #0000000d,
    0px 10px 10px 0px #0000001a;
}

.outline-button-outline {
  position: relative;
  padding: 8px 16px;
  border: none;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.1); /* #0000001a */
  color: white;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}

.outline-button-outline::before {
  content: '';
  position: absolute;
  inset: 0; /* top: 0; right: 0; bottom: 0; left: 0; */
  border-radius: inherit;
  padding: 1px; /* stroke thickness */
  background: linear-gradient(0deg, #ffaa4c00, rgba(255, 170, 76, 1)),
    rgba(255, 170, 76, 0.07);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  mix-blend-mode: overlay;
  pointer-events: none;
  z-index: 2;
  box-shadow: inset 0px 1px 3px #c7dcff33, inset 0px 0px 20px 0px #c6ccff33,
    0px 1px 22px 0px #ffffff1a, 0px 4px 4px 0px #0000000d,
    0px 10px 10px 0px #0000001a;
}

.gradient-button {
  position: relative;
  padding: 8px 16px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(
    var(--button-primary-gradient)
  ); /* 3-color background */
  color: white;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}

.gradient-button::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;

  /* Stroke: gradient → solid color overlay */
  background: linear-gradient(
      90deg,
      rgba(255, 170, 76, 0) 0%,
      rgba(255, 170, 76, 1) 70%
    ),
    /* gradient part of stroke */ rgba(255, 170, 76, 0.07); /* solid part of stroke */

  background-blend-mode: normal;

  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  mix-blend-mode: overlay;
  pointer-events: none;
  z-index: 2;
}

.gradient-text {
  background: linear-gradient(
    90deg,
    var(--color-white-opaque) 0%,
    rgb(255, 255, 236, 0.2) 100%
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-shadow {
  box-shadow: 0px 0px 5.5px 0px rgba(86, 86, 119, 0.25);
}
